# should set environment variables when creating service
# https://serverfault.com/questions/413397/how-to-set-environment-variable-in-systemd-service

[Service]
Environment="FTP_HOST=nas-nico"
Environment="FTP_USER=rpi-0"
Environment="FTP_PASSWORD=yopLUewqKQFgXe98KAo1qnW43QoYezEV"
Environment="FTP_PATH=/Timelapses/rpi-0-thomas"

[Unit]
Description=Timelapse Pi Camera service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/pi-timelapse/timelapse_pi_camera.py
Restart=always
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target